body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #262626;
}

h1 {
  font-family: "Lora", serif;
  /* font-optical-sizing: auto; */
  font-size: 3.5em;
  font-weight: 600;
  font-style: normal;
  margin-top: 15px;
}

hr {
  border-color:#383d41; border-style:solid;
}


.header-container {
  width: 600px;
  margin: 0 auto;
  padding: 10px 20px 0;
}

.profile-img {
  border-radius: 20%;
  width: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.botui_message_content {
  background-color: #444444;
  color: #ffffff
}

.botui_button {
  background: #007bff;
}

.loading_dot {
  background-color: #6087ae !important;
}

.botui_action textarea, .botui_action input:not([type="file"]), .botui_action select {
  border-radius:5px;
  color: #000000;
}

.botui_message_content.human{
  background: #1d5b9c;
}

@media (width >= 600px) {
  .botui_app_container {
      width: 600px;
      height: 500px;
      margin: 0 auto;
  }
}